<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-solid"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">About Four Athens</h2>
    <div class="intro">Mission: To make Athens a hub for high growth startups in the Southeast.
    <div class="actions">
      <a class="scrollto-no-offset" href="#team-block">Our four pillars:</a>
      <a class="scrollto-no-offset" href="#team-block"><%= image_tag "arrow-icon.svg"%></a>
    </div><!--//actions-->
  </div><!--//container-->
</section><!--//heading-section-->

<div id="intro" class="team-block">
  <div class="container">
    <h2 class="block-heading text-center">Dream. Plan. Grow.</h2>
    <h3 class="block-h3 text-center">We'll help you get there.</h3>
    <div class="block-intro text-center">
     <p> Starting a company is hard.
      Having a support network that knows what they’re doing makes it easier.</p>
      <p>
       For all your startup needs, Four Athens is here to help you discover ideas,
       launch concepts, and build your customer base.
      We connect you to the people you need to hire, learn from, and raise money in
      order to see your business dreams become reality. </P>
    </div>
  </div>
</div>

<div id="team-block" class="team-block">
  <div class="container">
    <h2 class="block-heading text-center">Our Pillars</h2>
    <div class="block-intro text-center">
    <!-- pillars-->
    <ul class="items">
      <li>

      <div class="pillar">T</div>
      <div class="text">Talent</div>
      Recruiting, developing, and connecting expertise with opportunities in our member companies.
    </li>
      <li>
    <div class="pillar">E</div>
    <div class="text">Education</div>
    Teaching both youth and adults the skills high growth startups need.
      </li>
      <li>

      <div class="pillar">C</div>
      <div class="text">Community</div>
      Networking and support for the entrepreneurial community.
    </li>
    <li>

    <div class="pillar">H</div>
    <div class="text">High Growth</div>
    Helping startups connect with investors, mentors and the resources they need.
  </li>
    </ul>
    <!--//pillar-->
    <div style="height: 90px;"></div>


    <h2 class="block-heading text-center">Talent</h2>
       <div class="block-intro text-center">
         Four Athens helps connect you to the talent that can help your dream succeed, from talented students seeking internships to experienced entreprenuers offering mentorship and guidance.
         <div style = "text-align: center">
           <a class="scrollto-no-offset" href="#team-block"><%= image_tag "arrow-icon.svg"%></a>
         </div>
       </div>
<div style="height: 90px;"></div>


   <h2 class="block-heading text-center">Education</h2>
       <div class="block-intro text-center">
          Learn the skills you need for your business to succeed.
          Four Athens offers several coding classes for everyone from the asbolute novice to those looking to advance their knowledge.
          Monthly Lunch & Learns offer a space to discuss relevant startup topics and gain insight from other entreprenuers in a casual, comfortable environment.
          <div style = "text-align: center">
            <a class="scrollto-no-offset" href="#team-block"><%= image_tag "arrow-icon.svg"%></a>
          </div>
       </div>

<div style="height: 90px;"></div>
    <h2 class="block-heading text-center">Community</h2>
       <div class="block-intro text-center">
        It takes a community to build successful companies.
         With weekly Happy Hour at The World Famous, Coffee Catch-Ups, and other networking events, Four Athens makes it easy to integrate yourself into the
         local startup community. We foster relationships with local companies and organizations, coordinating opportunities for the Athens entrepreneurial community to gather around common interests and support one another in success.
         <div style = "text-align: center">
           <a class="scrollto-no-offset" href="#team-block"><%= image_tag "arrow-icon.svg"%></a>
         </div>
       </div>

<div style="height: 90px;"></div>
    <h2 class="block-heading text-center">Growth</h2>
       <div class="block-intro text-center">
        Grow your business with Four Athens.
        Not only can we help you develop a scalable, repeatable, high-growth business model for your business, we can help connect you with funding sources to support your dream.
        We hope to grow the Athens startup community and stimulate local economy, leading to a positive economic impact in Athens and surrounding areas.
        <div style = "text-align: center">
          <a class="scrollto-no-offset" href="#team-block"><%= image_tag "arrow-icon.svg"%></a>
        </div>
       </div>
     </div>

</div>
</div>


    <div class="block-cta text-center">
      <a class="btn btn-secondary" href='pricing'>Want to Join Us?</a>
    </div>

  <!--
    <div class="row">
      <div class="item col-xs-6 col-md-3">
        <div class="item-inner">
          <%= image_tag "team/member-1.jpg", class: "img-responsive"%>
          <div class="mask">
          </div><!--//mask-->
          <!--
          <div class="info text-center">
            <div class="name">James Doe</div>
            <div class="title">Co-Founder, CEO</div>
            <ul class="social list-inline">
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
            <!--
          </div><!--//info-->
          <!--
        </div><!--//item-inner-->
        <!--
      </div><!--//item-->
      <!--
      <div class="item col-xs-6 col-md-3">
        <div class="item-inner">
          <%= image_tag "team/member-2.jpg", class: "img-responsive"%>
          <div class="mask">
          </div><!--//mask-->
        <!--  <div class="info text-center">
            <div class="name">Mike Doe</div>
            <div class="title">Co-Founder, CTO</div>
            <ul class="social list-inline">
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
            </ul><!--//social-->
    <!--      </div><!--//info-->
  <!--      </div><!--//item-inner-->
<!--      </div><!--//item-->
<!--      <div class="item col-xs-6 col-md-3">
        <div class="item-inner">
          <%= image_tag "team/member-3.jpg", class: "img-responsive"%>
          <div class="mask">
          </div><!--//mask-->
<!--          <div class="info text-center">
            <div class="name">Kate Doe</div>
            <div class="title">Product Manager</div>
            <ul class="social list-inline">
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>

            </ul><!--//social-->
<!--          </div><!--//info-->
<!--        </div><!--//item-inner-->
  <!--    </div><!--//item-->
  <!--    <div class="item col-xs-6 col-md-3">
        <div class="item-inner">
          <%= image_tag "team/member-4.jpg", class: "img-responsive"%>
          <div class="mask">
          </div><!--//mask-->

<!--    </div><!--//row-->
  </div><!--//container-->
</div><!--//team-block-->
