<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-solid"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">About Our Company</h2>
    <div class="intro">Startup Kit is founded in 2016 with a distributed team lorem ipsum dolor sit amet <br>Aenean commodo ligula eget dolor. </div>
    <div class="actions">
      <a class="scrollto-no-offset" href="#team-block">Meet the team</a>
      <a class="scrollto-no-offset" href="#team-block"><%= image_tag "arrow-icon.svg"%></a>
    </div><!--//actions-->
  </div><!--//container-->
</section><!--//heading-section-->
<h1>Available plans</h1>
<% @plans.each do |plan| %>

  <h3>Name: <%= plan.name %></h3>
  <h4>Cost: <%= number_to_currency(plan.price/100) %>/<%= plan.frequency %></h4>

  Details:
  <ul>
    <% plan.plan_details.each do |pd| %>
      <li><%= pd.content %></li>
    <% end %>
  </ul>
<% end %>