<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-solid"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">About Our Company</h2>
    <div class="intro">Startup Kit is founded in 2016 with a distributed team lorem ipsum dolor sit amet <br>Aenean commodo ligula eget dolor. </div>
    <div class="actions">
      <a class="scrollto-no-offset" href="#team-block">Meet the team</a>
      <a class="scrollto-no-offset" href="#team-block"><%= image_tag "arrow-icon.svg"%></a>
    </div><!--//actions-->
  </div><!--//container-->
</section><!--//heading-section-->
<div class="authform">
  <%= form_for(@organization, :html => { :role => 'form'}) do |f| %>
    <h3>Sign up</h3>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :org_owner_id, value: current_user.id %>
    </div>
     <%= f.submit 'Create', :class => 'button right' %>
  <% end %>
</div>
