<%= simple_form_for @plan do |f| %>

  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :frequency, as: :select, collection: Plan.frequencies.keys.to_a %>

  <div id="plan_details">
    <h3>Plan Details</h3>
    <%= f.simple_fields_for :plan_details do |pf| %>
      <%= render 'plan_details', f: pf %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add detail', f, :plan_details %>
    </div>
  </div>

  <%= f.submit %>

<% end %>