<% if user_signed_in? %>
  <li class="nav-item dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Account <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
      <% if current_user.try(:admin?) %>
        <li><%= link_to 'Users', users_path %></li>
      <% end %>
      <li><%= link_to 'Benefits', page_path('benefits') %></li>
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </li><!--//dropdown -->
<% else %>
  <li class="nav-item"><a href="#" class="login-trigger" data-toggle="modal" data-target="#login-modal">Log in</a></li>
  <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path %></li>
  <li class="nav-item nav-item-cta last"><a class="btn-signup" href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a></li>
<% end %>
